services:
    server:
        container_name: server
        env_file:
            - .env.docker
        build:
            context: .
            dockerfile: Dockerfile.server
        ports:
            - '${SERVER_PORT}:${SERVER_PORT}'
        networks:
            - app-network

    client:
        container_name: client
        build:
            context: .
            dockerfile: Dockerfile.client
        ports:
            - '8080:8080'
        depends_on:
            - server
        networks:
            - app-network

networks:
    app-network:
        driver: bridge
